/* Button Purple Fill */
.btn_p_f {
  color: $white;
  background: $btn-second;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 150ms ease-in-out;


  &:hover {
    background: $btn-first;
  }

  &:focus {
    outline: 2px solid $btn-third;
    background: $btn-first;
  }

  &:active {
    background: $btn-third;
  }
}

/* Button Purple Transparent */
.btn_p_t {
  color: $btn-second;
  background: transparent;
  border: 2px solid $btn-second;
  outline: none;
  cursor: pointer;
  transition: 150ms ease-in-out;


  &:hover {
    background: $btn-second;
    color: $white;
  }

  &:focus {
    border: 2px solid $btn-third;
    background: $btn-first;
    color: $white;
  }

  &:active {
    background: $btn-third;
    color: $white;
  }
}

/* Button Black */

.btn_b {
  color: $d-blue;
  background: $white;
  border: none;
  outline: 2px solid $d-blue;
  cursor: pointer;
  transition: 150ms ease-in-out;

  &:hover {
    background-color: $gray;
  }

  &:focus {
    outline: 2px solid $d-gray;
    background-color: $gray ;
  }

  &:active {
    background-color: $d-gray;
    color: $white;
  }
}

/* Button Yellow */

.btn_y {
  color: $accent;
  background: transparent;
  outline: none;
  border: 2px solid $accent;
  cursor: pointer;
  transition: 150ms ease-in-out;

  &:hover {
    background-color: $accent;
    color: $d-blue;
  }

  &:focus {
    background: $accent2;
    color: $d-blue;
  }

  &:active {
    background: $accent2;
    border: 2px solid $accent2;
  }
}