.guests {
  background-color: $d-blue;
  padding: 94px 0;
  min-width: 1170px;

  h2,
  h3 {
    color: #fff;
  }

  p {
    color: #a1a6b4;
  }
}

.guests__title {
  margin-bottom: 14px;
}

.guests__intro {
  margin-bottom: 8px;
}

.guests__description {
  margin-bottom: 50px;
  max-width: 825px;
  line-height: 160%;
}

.guests__item {
  margin-bottom: 50px;
  max-width: 920px;
  display: flex;
  column-gap: 30px;
  position: relative;

  font-size: 16px;
  line-height: 180%;
}

.guests__name {
  margin-bottom: 8px;
}

.guests__button {
  position: absolute;
  bottom: 0;
  padding: 10px 30px;
  border-radius: 20px;
}