.guests {
  background-color: $d-blue;
  padding-top: 94px;
  padding-bottom: 44px;
  min-width: 1170px;

  p {
    color: #a1a6b4;
  }
}

.guests__title {
  margin-bottom: 14px;
  color: white;
}

.guests__intro {
  margin-bottom: 8px;
  color: #a1a6b4;
}

.guests__description {
  margin-bottom: 50px;
  max-width: 825px;
  line-height: 160%;
}

.guests__item {
  margin-bottom: 50px;
  max-width: 920px;
  display: flex;
  column-gap: 30px;
  position: relative;

  font-size: 16px;
  line-height: 180%;
}

.guests__name {
  margin-bottom: 8px;
  color: white;
}

.guests__button {
  width: 160px;
  height: 40px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
}

@media screen and (max-width:1024px) {
  .guests {
    min-width: 854px;
  }

  .guests__description {
    max-width: 536px;
  }
}

@media screen and (max-width:768px) {
  .guests {
    min-width: 570px;
  }

  .guests__description {
    font-size: 20px;
  }

  .guests__item {
    display: block;
    height: 642px;
  }

  .guests__cardDescription {
    max-width: 362px;
  }

  .guests__img {
    width: 540px;
    height: 340px;
  }
}