.hero {
  .container {
    display: flex;
    justify-content: space-between;
    min-height: 450px;
  }
}

.hero__content {
  max-width: 539px;
  padding-top: 94px;
}

.hero__head {
  font-weight: 700;
  font-size: 60px;
  margin: 0;

  &_italic {
    font-weight: 400;
    font-style: italic;
  }
}

.hero__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 14px;
  margin-bottom: 45px;
}

.hero__img {
  max-width: 350px;
  max-height: 372px;
  padding-top: 38px;
}

.hero__button {
  padding: 25px 54px;
  border-radius: 40px;
  font-size: 20px;
}

/* 1024px Adaptive */

@media screen and (max-width:1024px) {
  .hero__text {
    margin-bottom: 20px;
  }

  .hero__img {
    max-width: 256px;
    max-height: 262px;

    padding-top: 90px;
  }
}