.playlists {
  padding: 94px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.playlists__info {
  max-width: 350px;
}

.playlists__title {
  margin-bottom: 12px;
}

.playlists__description {
  font-size: 14px;
  line-height: 22px;
  color: #A1A6B4;
  margin-bottom: 6px;
}

.playlists__agetag {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A1A6B4;
  border: 1px solid #A1A6B4;
  border-radius: 100px;
  width: 30px;
  height: 30px;
}

/* Playlists List/Cards */

.playlists__list {
  max-width: 740px;
  margin-top: 14px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
}

.playlists__item {
  max-width: 160px;
  border: 1px solid $gray;
  position: relative;
}

.playlists__img {
  max-width: 160px;
  max-height: 160px;
}

.playlists__link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.playlist__content {
  padding: 16px;
}

.playlists__chart {
  margin-top: 4px;
  font-size: 12px;
  color: #A1A6B4;
}

/* Страна исполнителя */

.item_ru,
.item_uk {
  position: relative;
}

.item_ru::before {
  content: url("/src/img/icons/country_ru.svg");
  width: 16px;
  height: 12px;
  display: block;
  right: 0%;
  position: absolute;
  padding: 4px;
  background-color: black;

}

.item_uk::before {
  content: url("/src/img/icons/country_uk.svg");
  width: 16px;
  height: 12px;
  display: block;
  right: 0%;
  position: absolute;
  padding: 4px;
  background-color: black;

}


/* 1024px Adaptive */

@media screen and (max-width:1024px) {
  .playlists {
    min-width: 854px;

    .container {
      display: block;
    }
  }

  .playlists__info {
    max-width: 854px;
  }

  .playlists__agetag {
    margin-bottom: 25px;
  }

  .playlists__list {
    max-width: 854px;
    gap: 25px
  }

  .playlists__item {
    min-width: 255px;
    display: flex;

    img {
      max-width: 112px;
      max-height: 112px;
    }
  }

  .item_ru::before,
  .item_uk::before {
    right: 100%;
    transform: translateX(100%);
  }
}

@media screen and (max-width:768px) {
  .playlists {
    min-width: 570px;
  }

  .playlists__description {
    max-width: 400px;
  }
}

@media screen and (max-width:320px) {
  .playlists {
    min-width: 320px;
    padding: 54px 0;
  }

  .playlists__description {
    font-size: 12px;
  }

  .playlists__agetag {
    width: 28px;
    height: 28px;
  }

  .playlists__item {
    display: block;
    min-width: 113px;
    width: 113px;
    max-height: 160px;

    img {
      max-width: 113px;
      max-height: 113px;
    }
  }

  .playlist__content {
    padding: 10px;
  }

  .playlists__name {
    font-size: 12px;
  }

  .playlists__chart {
    font-size: 9px;
  }

  .playlists__link::before {
    width: 100%;
    height: 113px;
  }

  .item_ru::before,
  .item_uk::before {
    right: 0%;
    transform: none;
  }
}