.podcasts {
  background-color: $gray;
  padding: 94px 0;
  min-width: 1170px;
}

.podcasts__title {
  margin-bottom: 30px;
}

.podcasts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.podcasts__item {
  position: relative;
  display: flex;
  max-width: 540px;
  max-height: 140px;
  background-color: $white;
}

.podcasts__img {
  max-width: 112px;
  max-height: 140px;
  object-fit: cover;
}

.podcasts__info {
  margin: 35px 30px;
}

.podcasts__duration {
  font-size: 12px;
}

.podcasts__title {
  margin-top: 8px;
  margin-bottom: 4px;
}

.podcasts__author {
  color: #A1A6B4;
}

.podcasts__link::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 100%;
}


@media screen and (max-width:1024px) {
  .podcasts {
    min-width: 854px;
  }
}