@import url('/src/fonts/MullerRegular/style.css');
@import url('/src/fonts/MullerMedium/style.css');
@import url('/src/fonts/MullerRegularItalic/style.css');

body {
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  line-height: normal;
  color: $d-blue;
}

button {
  font-family: 'Muller', sans-serif;
  font-weight: 500;
}

h1,
h3 {
  font-weight: 500;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-weight: 500;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $d-blue;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none !important;
}

@media screen and (max-width:1024px) {
  .container {
    width: 824px;
  }
}

@media screen and (max-width:768px) {
  .container {
    width: 539px;
  }
}

@media screen and (max-width:320px) {
  .container {
    width: 256px;
  }

  h2 {
    font-size: 24px;
  }
}

/* Style For Text Links */

.text-link {
  cursor: pointer;
  transition: 150ms ease-in-out;

  &:hover {
    color: $btn-second;
  }

  &:focus {
    outline: none;
    color: #fff;
    background-color: $btn-first;
  }

  &:active {
    color: $btn-third;
  }
}

/* Style For Icons */

.icon-link {
  outline: none;

  &:hover svg>g>path {
    stroke: $btn-first;
    transition: 150ms ease-in-out;
  }

  &:focus path {
    stroke: $btn-first;
    ;
  }

  &:active svg>g>path {
    stroke: $btn-third;
  }
}

/* Style For Footer Social Icons */

.social-svg-links {
  outline: none;

  &:hover path {
    fill: $btn-second;
    transition: 150ms ease-in-out;
  }

  &:focus path {
    fill: $btn-first;
  }

  &:active path {
    fill: $btn-third;
  }
}