@charset "UTF-8";
/* Colors */
@import url("/src/fonts/MullerRegular/style.css");
@import url("/src/fonts/MullerMedium/style.css");
@import url("/src/fonts/MullerRegularItalic/style.css");
body {
  font-family: "Muller", sans-serif;
  font-weight: 400;
  line-height: normal;
  color: #121723;
}

button {
  font-family: "Muller", sans-serif;
  font-weight: 500;
}

h1,
h3 {
  font-weight: 500;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-weight: 500;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #121723;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.none {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 824px;
    margin: 0 auto;
  }
}
/* Style For Text Links */
.text-link {
  cursor: pointer;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.text-link:hover {
  color: #6D31EE;
}
.text-link:focus {
  outline: none;
  color: #fff;
  background-color: #AA9DFA;
}
.text-link:active {
  color: #4F28A5;
}

/* Style For Icons */
.icon-link {
  outline: none;
}
.icon-link:hover svg > g > path {
  stroke: #AA9DFA;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.icon-link:focus path {
  stroke: #AA9DFA;
}
.icon-link:active svg > g > path {
  stroke: #4F28A5;
}

/* Style For Footer Social Icons */
.social-svg-links {
  outline: none;
}
.social-svg-links:hover path {
  fill: #6D31EE;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.social-svg-links:focus path {
  fill: #AA9DFA;
}
.social-svg-links:active path {
  fill: #4F28A5;
}

.header .container {
  min-height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

/* 1024px Adaptive */
@media screen and (max-width: 1024px) {
  .header {
    margin: 0 auto;
  }
  .header .container {
    min-height: 144px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .header__logo img {
    max-width: 112px;
  }
  .header__nav {
    width: 100%;
    grid-row: 2;
    grid-column: span 2;
    justify-self: center;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .header__search {
    justify-self: end;
  }
  .header__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 450px;
}

.hero__content {
  max-width: 539px;
  padding-top: 94px;
}

.hero__head {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
}
.hero__head_italic {
  font-weight: 400;
  font-style: italic;
}

.hero__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 14px;
  margin-bottom: 45px;
}

.hero__img {
  max-width: 350px;
  max-height: 372px;
  padding-top: 38px;
}

.hero__button {
  padding: 25px 54px;
  border-radius: 40px;
  font-size: 20px;
}

/* 1024px Adaptive */
@media screen and (max-width: 1024px) {
  .hero__text {
    margin-bottom: 20px;
  }
  .hero__img {
    max-width: 256px;
    max-height: 262px;
    padding-top: 90px;
  }
}
.podcasts {
  background-color: #E6E8EC;
  padding: 94px 0;
  min-width: 1170px;
}

.podcasts__title {
  margin-bottom: 30px;
}

.podcasts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.podcasts__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 540px;
  max-height: 140px;
  background-color: #fff;
}

.podcasts__img {
  max-width: 112px;
  max-height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}

.podcasts__info {
  margin: 35px 30px;
}

.podcasts__duration {
  font-size: 12px;
}

.podcasts__title {
  margin-top: 8px;
  margin-bottom: 4px;
}

.podcasts__author {
  color: #A1A6B4;
}

.podcasts__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .podcasts {
    min-width: 854px;
  }
}
.radio {
  padding: 94px 0;
  min-height: 564px;
  position: relative;
}
.radio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
}

.radio__info_bottom {
  position: absolute;
  bottom: 0;
  max-width: 255px;
  padding-bottom: 94px;
}

/* Right section */
.radio__list {
  padding-top: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.radio__description {
  padding: 20px 16px;
}

.radio__btn {
  margin-top: 24px;
  margin-bottom: 12px;
  padding: 12px 43px;
  border-radius: 77px;
  width: 160px;
  height: 40px;
  font-size: 16px;
}

.radio__time {
  color: #A1A6B4;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 20px;
}

.radio__item {
  position: relative;
  max-width: 254px;
  max-height: 260px;
  border: 1px solid #E6E8EC;
}

.radio__link {
  font-style: italic;
}
.radio__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 148px;
}

.guests {
  background-color: #121723;
  padding: 94px 0;
  min-width: 1170px;
}
.guests p {
  color: #a1a6b4;
}

.guests__title {
  margin-bottom: 14px;
  color: white;
}

.guests__intro {
  margin-bottom: 8px;
  color: #a1a6b4;
}

.guests__description {
  margin-bottom: 50px;
  max-width: 825px;
  line-height: 160%;
}

.guests__item {
  margin-bottom: 50px;
  max-width: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  position: relative;
  font-size: 16px;
  line-height: 180%;
}

.guests__name {
  margin-bottom: 8px;
  color: white;
}

.guests__button {
  width: 160px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .guests {
    min-width: 854px;
  }
  .guests__description {
    max-width: 536px;
  }
}
.playlists {
  padding: 94px 0;
}
.playlists .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.playlists__info {
  max-width: 350px;
}

.playlists__title {
  margin-bottom: 12px;
}

.playlists__description {
  font-size: 14px;
  line-height: 22px;
  color: #A1A6B4;
  margin-bottom: 6px;
}

.playlists__agetag {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A1A6B4;
  border: 1px solid #A1A6B4;
  border-radius: 100px;
  width: 30px;
  height: 30px;
}

/* Playlists List/Cards */
.playlists__list {
  max-width: 740px;
  margin-top: 14px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.playlists__item {
  max-width: 160px;
  border: 1px solid #E6E8EC;
  position: relative;
}

.playlists__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.playlist__content {
  padding: 16px;
}

.playlists__chart {
  margin-top: 4px;
  font-size: 12px;
  color: #A1A6B4;
}

/* Страна исполнителя */
.item_ru,
.item_uk {
  position: relative;
}

.item_ru::before {
  content: url("/src/img/icons/country_ru.svg");
  width: 16px;
  height: 12px;
  display: block;
  right: 0%;
  position: absolute;
  padding: 4px;
  background-color: black;
}

.item_uk::before {
  content: url("/src/img/icons/country_uk.svg");
  width: 16px;
  height: 12px;
  display: block;
  right: 0%;
  position: absolute;
  padding: 4px;
  background-color: black;
}

/* 1024px Adaptive */
@media screen and (max-width: 1024px) {
  .playlists {
    min-width: 854px;
  }
  .playlists .container {
    display: block;
  }
  .playlists__info {
    max-width: 854px;
  }
  .playlists__agetag {
    margin-bottom: 25px;
  }
  .playlists__list {
    max-width: 854px;
    gap: 25px;
  }
  .playlists__item {
    min-width: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .playlists__item img {
    max-width: 112px;
    max-height: 112px;
  }
  .item_ru::before,
  .item_uk::before {
    right: 100%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.promo {
  background-color: #292E39;
  padding: 94px 0;
  min-width: 1170px;
}
.promo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.promo__img {
  max-width: 540px;
  max-height: 542px;
}

.promo__imgContainer::before {
  content: "";
  background-image: url("/src/img/label_new.png");
  width: 160px;
  height: 160px;
  background-size: 160px 160px;
  position: absolute;
}

.promo__title {
  color: #F0D288;
  margin-bottom: 19px;
}

.promo__decoration {
  margin-bottom: 19px;
}

.promo__text {
  color: #fff;
  line-height: 180%;
  margin-bottom: 30px;
}
.promo__text:first-of-type {
  margin-bottom: 12px;
}

.promo__price {
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
}

.promo__button {
  width: 300px;
  height: 70px;
  border-radius: 100px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 1024px) {
  .promo {
    min-width: 854px;
  }
  .promo__imgContainer {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .promo__img {
    max-width: 397px;
    max-height: 349px;
  }
  .promo__imgContainer::before {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
  }
  .promo__decoration {
    max-width: 396px;
  }
}
.team {
  background-color: #121723;
  color: #A1A6B4;
  padding: 94px 0;
  min-width: 1170px;
}
.team h2 {
  color: #fff;
}

.team__infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.team__intro {
  margin-top: 12px;
  margin-bottom: 8px;
  line-height: 160%;
}

.team__info {
  line-height: 160%;
  font-size: 18px;
  line-height: 160%;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.team__card {
  max-width: 255px;
  max-height: 361px;
}

.team__img {
  width: 255px;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__name {
  font-size: 20px;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 8px;
}

.team__quote {
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1024px) {
  .team {
    min-width: 854px;
  }
  .team__figure:first-of-type {
    display: none;
  }
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__card {
    max-width: 397px;
    max-height: 337px;
  }
  .team__img {
    width: 397px;
    height: 260px;
  }
}
.footer {
  background-color: #292E39;
  color: #fff;
  min-width: 1170px;
  padding-bottom: 10px;
}

.footer__main {
  padding: 94px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socialsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  margin-top: 20px;
}

.footer__nav {
  max-width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 108px;
     -moz-column-gap: 108px;
          column-gap: 108px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__link {
  margin-bottom: 20px;
}
.footer__link a {
  color: #fff;
}

.footer__end {
  margin: 0 auto;
  color: #A1A6B4;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.decorationContainer {
  height: 12px;
  background-image: url("/src/img/figures/vector footer.svg");
  background-repeat: repeat-x;
  overflow: hidden;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .footer {
    min-width: 854px;
  }
}
/* Button Purple Fill */
.btn_p_f {
  color: #fff;
  background: #6D31EE;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.btn_p_f:hover {
  background: #AA9DFA;
}
.btn_p_f:focus {
  outline: 2px solid #4F28A5;
  background: #AA9DFA;
}
.btn_p_f:active {
  background: #4F28A5;
}

/* Button Purple Transparent */
.btn_p_t {
  color: #6D31EE;
  background: transparent;
  border: 2px solid #6D31EE;
  outline: none;
  cursor: pointer;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.btn_p_t:hover {
  background: #6D31EE;
  color: #fff;
}
.btn_p_t:focus {
  border: 2px solid #4F28A5;
  background: #AA9DFA;
  color: #fff;
}
.btn_p_t:active {
  background: #4F28A5;
  color: #fff;
}

/* Button Black */
.btn_b {
  color: #121723;
  background: #fff;
  border: none;
  outline: 2px solid #121723;
  cursor: pointer;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.btn_b:hover {
  background-color: #E6E8EC;
}
.btn_b:focus {
  outline: 2px solid #292E39;
  background-color: #E6E8EC;
}
.btn_b:active {
  background-color: #292E39;
  color: #fff;
}

/* Button Yellow */
.btn_y {
  color: #F0D288;
  background: transparent;
  outline: none;
  border: 2px solid #F0D288;
  cursor: pointer;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.btn_y:hover {
  background-color: #F0D288;
  color: #121723;
}
.btn_y:focus {
  background: #BB973E;
  color: #121723;
}
.btn_y:active {
  background: #BB973E;
  border: 2px solid #BB973E;
}

.form {
  max-width: 920px;
}
.form input[type=text],
.form .form__main {
  font-family: Muller;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  border: 1px solid #FFF;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  outline: none;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.form input[type=text]:hover,
.form .form__main:hover {
  background: #292E39;
}
.form input[type=text]:focus,
.form .form__main:focus {
  border: 1px solid #AA9DFA;
}
.form input[type=text]:invalid,
.form .form__main:invalid {
  border: 1px solid #D52B1E;
}
.form input[type=text]:invalid + .error,
.form .form__main:invalid + .error {
  opacity: 1;
}

.form__main {
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  padding: 30px 10px 10px 32px;
}

.credentials {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.form__name {
  padding: 10px 10px 10px 32px;
  width: 445px;
  height: 70px;
}

.form__email {
  padding: 10px 10px 10px 32px;
  width: 445px;
  height: 70px;
}

.form__button {
  padding: 25px 54px;
  border-radius: 40px;
  font-size: 20px;
  margin-bottom: 30px;
}

.inputContainer {
  position: relative;
}

.form__name_error,
.form__email_error {
  position: absolute;
  color: red;
  font-size: 12px;
  font-weight: 400;
  left: 32px;
  top: 10px;
  opacity: 0;
}

.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #fff;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23AA9DFA' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  background-size: 10px 10px;
}

/* стили при наведении курсора на checkbox */
.form__checkbox:not(:disabled):not(:checked) + label:hover::before {
  background: #292E39;
}

/* стили для чекбокса, находящегося в фокусе */
.form__checkbox:focus + label::before {
  border: 1px solid #AA9DFA;
}

@media screen and (max-width: 1024px) {
  .form__name,
  .form__email {
    width: 397px;
  }
}